#Content Gateway URL
VITE_CONTENT_GATEWAY_URL=http://localhost:5100

#Biletado Booking Platform
VITE_BOOKING_URL=https://backend.booking.guben.de
VITE_BOOKING_SDK=https://booking.guben.de/cdn/current/booking-manager.min.js
VITE_BOOKING_LOGIN=https://booking.guben.de/login/sso

#Libre Translate
VITE_TRANSLATE_URL=https://translate.guben.de/translate
VITE_TRANSLATE_API_KEY=some-api-key

#Matomo
VITE_MATOMO_JS=https://matomo.guben.de/js/container_Rgw4mNRZ.js

#Masterportal
VITE_MASTERPORTAL_URL=https://masterportal.guben.de/
